# JetBrains products
.idea

# VS Code
.vscode

# MAX+plus II Manager
**/*.acf
**/*.cnf
**/*.fit
**/*.hif
**/*.mmf
**/*.ndb
**/*.pin
**/*.pof
**/*.rpt
**/*.snf
**/*.dls

# VHDL automatically compiles symbols, so we ignore them to not have them changed every time
**/*vhdl/*.sym
