# Ignore all files except needed
**/*.*

# Gitignore files
!**/.gitignore

# Markdown files (README.md)
!**/*.md

# Graphic files
!**/*.gdf

# Waveform files
!**/*.scf

# VHDL files
!**/*.vhd

# ========================================
# Symbol files.
# VHDL automatically compiles symbols, so we ignore them to not have them changed every time.
# But we need some symbols for other symbols, so we keep them in GIT
# ========================================
# For l01p06g_sum
!labs/l01p01g_polusum.sym
# For l03p03g_dtrgr
!labs/l03p01g_rstrgr.sym
# For l06p02g_dc6to64
!labs/l06p01g_dc3to8.sym
# For l07p02g_hpri16to4
!labs/l07p01g_hpri8to3.sym
# For l07p05g_pointer16to4to16
!labs/l07p02g_hpri16to4.sym
!labs/l07p05g_dc4to16.sym
# For l08p03g_mux64to1.gdf
!labs/l08p02b_mux4to1.sym
!labs/l08p03g_mux16to1.sym
# For l09p03g_cmp4digits
!labs/l09p01g_cmp2digits.sym

# Compiled VHDL files (we keep them it GIT to not manually recompile each dependency symbol when ignored files are deleted)
!labs/*.DLS
# ========================================

# Quartus II 5.0 project files
!**/*.qpf
!**/*.qsf
!**/*.db_info

# Shell scripts
!**/*.sh
